.authentication-card {
    width: 20%;
    padding: 2em;
}

mat-card-header{
    display: flex;
    width: 100%;
    justify-content: center;
}

.authentication-card-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    width: 100%;
    margin: auto;
}

mat-card-actions {
    display: flex;
    width: 100%;
    justify-content: center;
}

.error{
    color: red;
    justify-content: center;
    display: flex;
}