body {
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.current-lang{
    color: bisque;
}

.spacer {
    flex: 1 1 auto;
}

.current-lang{
    color: bisque;
}

a{
    cursor: pointer;
}