<mat-toolbar *ngIf="user && (router.url != '/login')">

    <ng-container *ngIf="currentUrl.startsWith('/upload')">
        <span>eUploader {{ user.pipeline_name ? "| " + user.pipeline_name : "" }}</span>
        <span class="spacer"></span>
        <span>{{ user.username }}</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

            <button mat-menu-item [matMenuTriggerFor]="lang">
                <mat-icon>public</mat-icon>
                <span>{{ 'HEADER.LANGUAGES' | translate }}</span>
            </button>

            <mat-menu #lang="matMenu">


                <button *ngFor="let lang of translate.getLangs()" mat-menu-item (click)="setLang(lang)">
                    <span *ngIf="currentLang==lang"><b>{{ lang }}</b></span>
                    <span *ngIf="currentLang!=lang">{{ lang }}</span>
                </button>
            </mat-menu>
        </mat-menu>
    </ng-container>
    <ng-container *ngIf="currentUrl.startsWith('/validation')">
        <span>eUploader</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>{{ 'HEADER.LOGOUT' | translate }}</span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="lang">
                <mat-icon>public</mat-icon>
                <span>{{ 'HEADER.LANGUAGES' | translate }}</span>
            </button>

            <mat-menu #lang="matMenu">
                <button *ngFor="let lang of translate.getLangs()" mat-menu-item (click)="setLang(lang)">
                    <span *ngIf="currentLang==lang"><b>{{ lang }}</b></span>
                    <span *ngIf="currentLang!=lang">{{ lang }}</span>
                </button>
            </mat-menu>
        </mat-menu>
        <span >{{ user.username }}</span>
    </ng-container>
</mat-toolbar>