<mat-toolbar *ngIf="user && (router.url != '/login')">

    <ng-container *ngIf="currentUrl.startsWith('/upload')">
        <span>eUploader {{ user.pipeline_name ? "| " + user.pipeline_name : "" }}</span>
        <span class="spacer"></span>
        <span>{{ user.username }}</span>
        <span class="spacer"></span>
        <div>
            <a [ngClass]="lang=='fr' ? 'current-lang' : ''" (click)="setLang('fr')">FR</a>
            <a [ngClass]="lang=='de' ? 'current-lang' : ''" style="margin-left: 1rem;" (click)="setLang('de')">DE</a>
        </div>
    </ng-container>
    <ng-container *ngIf="currentUrl.startsWith('/validation')">
        <span>eUploader</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Déconnexion</span>
            </button>

            <button mat-menu-item [matMenuTriggerFor]="lang">
                <mat-icon>public</mat-icon>
                <span>Langues</span>
            </button>

            <mat-menu #lang="matMenu">
                <button mat-menu-item (click)="setLang('fr')">FR</button>
                <button mat-menu-item (click)="setLang('de')">DE</button>
            </mat-menu>
        </mat-menu>
        <span >{{ user.username }}</span>
    </ng-container>
</mat-toolbar>