<app-header></app-header>
<div *ngIf="validation && validation.upload.id && pipeline" class="container">
    <div class="row">
        <div class="column col-left">

            <div *ngIf="pipeline.can_edit_same_metadata_for_each_file && allFiles.length > 1 && !readOnly" class="same-meta">
                <mat-checkbox [(ngModel)]="upload.same_meta_for_each_file"
                    (change)="setSameMetaForEachFile($any($event))" [labelPosition]="'before'">{{ 'UPLOAD.ADD_SAME_META' | translate }}</mat-checkbox>
            </div>

            <div *ngIf="upload.same_meta_for_each_file || allFiles.length == 1" class="mat-elevation-z8"
                style="width: 100%; padding-top: 30px;">
                <app-metadata-form (hasBeenFilledEvent)="handleFormFilled($event)" [readOnly]="readOnly"
                    [pipeline]="pipeline" [upload]="upload" [userScopes]="user.groups" [file]="allFiles[0]"
                    [isNextButton]="false" [validation]="validation"></app-metadata-form>
            </div>

            <div style="width: 100%; margin-top: 30px;" [hidden]="dataSource.data.length <= 0">

                <h1>{{ 'UPLOAD.FILE_LIST' | translate }}</h1>

                <mat-form-field style="width: 100%" appearance="standard">
                    <mat-label>{{ 'UPLOAD.FILTER' | translate }}</mat-label>
                    <input matInput (keyup)="applyFilter($event)" type="text" [(ngModel)]="filterValue"
                        placeholder="{{'UPLOAD.FILTER_PLACEHOLDER' | translate}}" #input>
                    <button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear"
                        (click)="filterValue='';dataSource.filter=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                    class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            {{ 'UPLOAD.FILE' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let file">
                            <!-- <span>{{ file.name }}</span> -->
                            <span class="like-link" (click)="openFile(file.id, file.name)">{{ file.name }}</span>
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="isComplete">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by isComplete">
                            {{ 'UPLOAD.FORM_COMPLETE' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let file">
                            <mat-icon *ngIf="file.isComplete">check</mat-icon>
                            <mat-icon *ngIf="!file.isComplete">close</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fill">
                        <th mat-header-cell
                            [hidden]="upload.same_meta_for_each_file || (!upload.same_meta_for_each_file && upload.files.length == 1)"
                            *matHeaderCellDef>
                            {{ 'UPLOAD.FILL' | translate }}
                        </th>
                        <td mat-cell
                            [hidden]="upload.same_meta_for_each_file || (!upload.same_meta_for_each_file && upload.files.length == 1)"
                            *matCellDef="let file">
                            <button mat-raised-button color="primary" (click)="edit(file)">
                                <!-- <mat-icon>edit</mat-icon>    -->
                                <mat-icon *ngIf="!readOnly">edit</mat-icon>
                                <mat-icon *ngIf="readOnly">visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator class="paginator mat-elevation-z8" [length]="dataSource.data.length"
                    [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
                    aria-label="Select page">
                </mat-paginator>
            </div>

        </div>

        <div class="column col-right">

            <div class="validations-btns">
                <button style="margin-right: 4em;" mat-raised-button (click)="cancel()" color="primary">{{ 'VALIDATION.RETURN' | translate }}</button>
                <button *ngIf="!readOnly" style="margin-right: 2em;" mat-raised-button (click)="validate(true)"
                    [disabled]="!uploadIsValid" color="accent">{{ 'VALIDATION.VALIDATE' | translate }}</button>
                <button *ngIf="!readOnly" mat-raised-button (click)="validate(false)" color="warn">{{ 'VALIDATION.REJECT' | translate }}</button>
            </div>

            <app-note style="margin-top: 50px; margin-bottom: 50px; width: 100%" [uploadId]="validation.upload.id"
                [username]="user.username"></app-note>

        </div>
    </div>
</div>