<app-header></app-header>
<div class="container">
    <div>

        <h1>Liste des validations</h1>

        <table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortActive="-upload__uploaded_at" matSortStart="asc" (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
                    id
                </th>
                <td mat-cell *matCellDef="let validation">
                    <span>{{ validation.upload.id }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="pipeline">
                <th mat-header-cell *matHeaderCellDef>
                    <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pipeline"></th> -->
                    pipeline
                </th>
                <td mat-cell *matCellDef="let validation"> {{ validation.workflow.pipeline.name }} </td>
            </ng-container>

            <ng-container matColumnDef="uploaded_by">
                <th mat-header-cell *matHeaderCellDef>
                    téléversé par
                </th>
                <td mat-cell *matCellDef="let validation"> {{ validation.upload.user.username }} </td>
            </ng-container>

            <ng-container matColumnDef="state" >
                <th mat-header-cell *matHeaderCellDef>
                    état
                </th>
                <td mat-cell *matCellDef="let validation" [ngSwitch]="validation.final_validation">
                    <span *ngSwitchCase="validationStatus.VALIDATED_OK" class="validation-ok" #tooltip="matTooltip"
                    matTooltip="The upload is completely validated" matTooltipPosition="right"><mat-icon fontIcon="done_outline"></mat-icon></span>
                    <span *ngSwitchCase="validationStatus.VALIDATED_NOK" class="validation-nok" #tooltip="matTooltip"
                    matTooltip="The upload is completely rejected" matTooltipPosition="right"><mat-icon fontIcon="block"></mat-icon></span>
                    <span *ngSwitchDefault class="validation-default" #tooltip="matTooltip"
                    matTooltip="Waiting for validation" matTooltipPosition="right"><mat-icon fontIcon="pending"></mat-icon></span>
                </td>
            </ng-container>

            <ng-container matColumnDef="uploaded_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
                    téléversé le
                </th>
                <td mat-cell *matCellDef="let validation"> {{ toDate(validation.upload.uploaded_at) }} </td>
            </ng-container>


            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef>
                    groupe(s) de validation
                </th>
                <td mat-cell *matCellDef="let validation">
                    <span *ngFor="let gs of validation.groupStates" [ngSwitch]="gs.state">
                        <span *ngSwitchCase="validationStatus.VALIDATED_OK" class="validation-ok" #tooltip="matTooltip"
                            matTooltip="{{ gs.state }}" matTooltipPosition="right">
                            {{gs.description}}
                            <mat-icon fontIcon="done"></mat-icon>
                        </span>
                        <span *ngSwitchCase="validationStatus.VALIDATED_NOK" class="validation-nok" #tooltip="matTooltip"
                            matTooltip="{{ gs.state }}" matTooltipPosition="right">
                            {{gs.description}}
                            <mat-icon fontIcon="block"></mat-icon>
                        </span>
                        <span *ngSwitchDefault class="validation-default" #tooltip="matTooltip"
                            matTooltip="{{ gs.state }}" matTooltipPosition="right">
                            {{gs.description}}
                            <mat-icon fontIcon="pending"></mat-icon>
                        </span>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="file_count">
                <th mat-header-cell *matHeaderCellDef>
                    nombre de fichier(s)
                </th>
                <td mat-cell *matCellDef="let validation"> 
                    <span *ngIf="validation.upload.file_count > 0">{{ validation.upload.file_count }} </span>
                    <span *ngIf="validation.upload.file_count <=0" style="color: red;">{{ validation.upload.file_count }}<mat-icon fontIcon="error"></mat-icon> </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>
                    valider/voir?
                </th>
                <td mat-cell *matCellDef="let validation">
                    <button mat-raised-button color="primary" [disabled]="(validation.upload.file_count <= 0)" (click)="editOrSeeValidation(validation)">
                        <mat-icon *ngIf="canValidate(validation.state)">edit</mat-icon>
                        <mat-icon *ngIf="!canValidate(validation.state)">visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator *ngIf="pageSize < total" #paginator class="paginator mat-elevation-z8" 
            [length]="total" 
            [pageSize]="pageSize"
            [pageIndex]="currentPage -1"
            [showFirstLastButtons]="true"
            (page)="pageEvent = getPage($event)" aria-label="Select page">
        </mat-paginator>

    </div>
    <div *ngIf="allDataLoaded && dataSource.data.length <= 0">
        <h1>Il n'y a pas de validation</h1>
    </div>
</div>